.container {
  .address {
    display: flex;
    flex-direction: column;
  }
  .btnWallet {
    margin-right: 12px;
  }
  .address {
    margin-top: 12px;
    span {
      margin: 6px 0;
    }
    .tag {
      margin-right: 6px;
    }
  }
}
